#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  min-height: 100vh;
  text-align: center;
}
main {
  min-height: 100vh;
  padding-top: 2rem;
}
li {
  text-align: left;
}

.app-ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  display: flex;
  justify-content: space-between;
}

.app-li {
  margin-bottom: 10px; /* Add some space between list items */
}

.heading {
  font-size: 1.5em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

a {
  display: inline-block;
  width: 100%;
}

.imageFlex {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;
  gap: 2rem;
}

.imageFlexDiv {
  position: relative;
  flex-basis: calc(25% - 2rem);
  height: 25vh;
  /* max-width: 25vh; */
  /* background-color: lightgray; */
}

.imageFlexDiv img {
  height: 100%;
  width: auto;
  object-fit: cover;
}
